* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

header {
    background-image: url(C:\JQuery\images\painel.jpg);
    background-color: #3d35ad;
    padding: 16px 0;
    color: #d4d4dd;
    display: flex;
    border-bottom: 16px solid #656cc7;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
}

header button {
    margin-left: 16px;
    border-radius: 5px;
}

form {
    background-color: #c8d6e5;
    padding: 24px 0;
    text-align: center;
    display: none;
}

form h2 {
    margin-bottom: 16px;
}

input, button {
    padding: 8px;
}

button {
    background-color: #009432;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
}
button:hover{
    background-color: #016121;
}

#botao-cancelar {
    background-color: red;
}

#botao-cancelar:hover {
    background-color: #d61313;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

ul li {
    max-width: 25%;
    list-style: none;
    position: relative;
    max-height: 300px;
    overflow-y: hidden;
}

ul li img {
    width: 100%;
    height: 100%;
}

.overlay-imagem-link {
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all ease .5s;
}

.overlay-imagem-link a {
    color: #fff;
    text-decoration: none;
}

ul li:hover .overlay-imagem-link {
    opacity: 1;
}
@media screen and (max-width: 767px) {
        
    header {
        background-image: url(C:\JQuery\images\painel.jpg);
        background-color: #3d35ad;
        padding: 50px 0;
        border-bottom: 20px solid #656cc7;
        }
        header > button {
            display: block;
            position: absolute;
            margin-top: 50px;
            padding: 16px;
        }
        ul {
            display: flex;
            flex-wrap: wrap;
        }
        ul li {
            max-width: 50%;
        }
}
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        header {
            background-image: url(C:\JQuery\images\painel.jpg);
            background-color: #3d35ad;
            padding: 50px 0;
            border-bottom: 20px solid #656cc7;
            }
            header > button {
                display: block;
                position: absolute;
                margin-top: 50px;
                padding: 16px;
            }
            ul {
                display: flex;
                flex-wrap: wrap;
            }
            ul li {
                max-width: 50%;
            }
        
    }

    

